<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/" style="color: #17a2b8;">Sean</a>
  </div>
  <!-- Copyright -->

</footer>