<footer class="text-muted footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/" style="color: #17a2b8; font-weight:bold">Sean</a>
  </div>
  <!-- Copyright -->

</footer>