<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="fileupload" accept="image/jpg, image/gif, image/png" />
  <button type="submit">Upload your image</button>
</form>

{{error}}